.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}   

.layout-div-sm {
  border: 1px solid #444444;
  border-radius: 1rem;;
  background-color: #444444;
  margin:1rem;
  height:20vh; 
  width:30vw;
}

@media screen and (max-width:1200px) {
  .layout-div-sm {
    height:20vh; 
    width:60vw;
  }
  
}
@media screen and (max-width:600px) {
  .layout-div-sm {
    height:20vh; 
    width:90vw;
  }
  
}

.navbar {
  overflow: hidden;
  position: sticky;
  width: 100%;
  height: 10vh; 
  background-color: #444444;
}

.space-marine-in{
  position: absolute;
  height: 30vh;
  width: 30vh;
  animation: 2s spaceMarineIn 1 forwards ease-in-out;
}
.space-marine-out{
  position: absolute; 
  height: 30vh;
  width: 30vh;
  animation: 5s spaceMarineOut 1 forwards ease-in-out;
}
.space-marine-init{ 
  position: absolute; 
  height: 30vh;
  width: 30vh;
  left: -500px;
  bottom: -500px;
}

@keyframes spaceMarineIn {
  from{
    left: -500px;
    bottom: -500px;
  }
  to{
    left: 0px;
    bottom: -50px;
  }
}
@keyframes spaceMarineOut {
  0%{
    left: 0px;
    bottom: -50px;
  }
  50%{
    left:-400px;
    bottom: -400px;
  }
  55%{
    left:-100px;
    bottom:-100px;
  } 
  65%{
    left:-100px;
    bottom:-100px;
  }
  70%{
    left:-150px;
    bottom: -150px;
  }
  85%{
    left:-150px;
    bottom:-150px;
  }  
  100%{
    display:none;
    left: -500px;
    bottom: -500px;
  }
}